# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore build and IDE directories
bin/
target/
out/
.idea/
.vscode/
*.iml

# Ignore logs and temp files
*.log
*.tmp

# Explicitly allow CSV files in src/main/resources/
!src/main/resources/*.csv