# Ignore compiled files
bin/
*.class

# Ignore IDE-specific files
.vscode/
*.iml
.idea/

# Ignore everything in /target EXCEPT the final JAR
target/*
!target/aSHOPdfok-1.0-SNAPSHOT-jar-with-dependencies.jar

# Ignore other build/IDE files
bin/
*.class
*.iml
.idea/
.vscode/

# Ignore build directories
out/

# Ignore logs and temporary files
*.log
*.tmp

# Include users.csv
!users.csv